# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
env/

# Environment variables
.env
.env.*

# Build artifacts
build/
dist/
*.egg-info/

# Logs and debug
*.log

# Unit test / coverage reports
.pytest_cache/
.coverage
htmlcov/
coverage.xml
.cache/

# IDE / Editor settings
.vscode/
.idea/

# Database or local files
*.sqlite3
*.db

# Docker
*.pid
